In [1]:
import mysql.connector
import random
import string
import xlrd
import xlwt

## getting cities data set

In [2]:
workbook = xlrd.open_workbook('worldcities.xlsx')
worksheet = workbook.sheet_by_name('Sheet1')
cities = worksheet.col_values(0)
lenCities = len(cities) - 1

## different domains for the emails

In [3]:
domains = [ "hotmail.com", "gmail.com", "aol.com", "mail.com" , "mail.kz", "yahoo.com"]
d = len(domains) - 1

## getting names set

In [4]:
workbook = xlrd.open_workbook('names.xls')
worksheet = workbook.sheet_by_name('Sheet1')
names = worksheet.col_values(0)
length = len(names) - 1

## functions to be used later

In [5]:
def get_password(length = 45):
    password_characters = string.ascii_letters + string.digits + string.punctuation
    password = ''.join(random.choice(password_characters) for i in range(length))
    return password

def exists(date):
    for i in dates:
        if(i == date):
            return True
    return False

def get2digitString(num):
    if(num<10):
        num = '0' + str(num)
    else:
        num = str(num)
    return num

def get_date(first, end):
    year = str(random.randint(first,end))
    
    month = get2digitString(random.randint(1,12))
    
    day = get2digitString(random.randint(1,30))
        
    return (year + '-' + month + '-' + day)

def get_datetime(first, end):
    year = str(random.randint(first,end))
    
    month = get2digitString(random.randint(1,12))
    
    day = get2digitString(random.randint(1,30))
        
    hour = get2digitString(random.randint(1,23))
    
    minute = get2digitString(random.randint(1,59))
    
    second = get2digitString(random.randint(1,59))
        
    return (year + month + day + ' ' + hour + ':' + minute + ':' + second)

## establishing the connection with the database 'arena'

In [ ]:
mydb = mysql.connector.connect(host = "localhost", user = "root", passwd = "1234", database = "arena2")
mycursor = mydb.cursor()
ten = 1000000
hundred = ten

# filling the tables

## club_owner

In [7]:
for i in range(hundred):
    if(i % 100000 == 0):
        print(i)
    userName = names[random.randint(0,length)]
    password = get_password()
    firstName = names[random.randint(0,length)]
    lastName = names[random.randint(0,length)]
    email = userName + str(i) + '@' + domains[random.randint(0,d)]  # the i is added to make sure no email will be duplicated
    phone = random.randint(1000000000, 1999999999)
    query = "INSERT INTO arena2.club_owner(userName, password, firstName, lastName, email, phone) VALUES(%s, %s, %s, %s, %s, %s);"
    VALUES = (userName, password, firstName, lastName, email, phone)
    mycursor.execute(query, VALUES)

0
100000
200000
300000

KeyboardInterrupt:

## player

In [ ]:
for i in range(hundred):
    if(i % 100000 == 0):
        print(i)
    userName = names[random.randint(0,length)]
    password = get_password()
    firstName = names[random.randint(0,length)]
    lastName = names[random.randint(0,length)]
    email = userName + str(i) + '@' + domains[random.randint(0,d)]  # the i is added to make sure no email will be duplicated
    yyyy = random.randint(1950,2002)
    mm = random.randint(1,12)
    dd = random.randint(1,30)
    visa = random.randint(1000000000000000,9999999999999999)
    phone = random.randint(1000000000, 1999999999)
    query = "INSERT INTO arena2.player(userName, password, firstName, lastName, email, yyyy, mm, dd, visa, phone) VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s);"
    VALUES = (userName, password, firstName, lastName, email, yyyy, mm, dd, visa, phone)
    mycursor.execute(query, VALUES)

## club

In [ ]:
mycursor.execute("select id from arena2.club_owner")
ownerIDs = mycursor.fetchall()
lenOwnerIDs = len(ownerIDs) - 1

for i in range(hundred):
    if(i % 100000 == 0):
        print(i)
    name = names[random.randint(0,length)]
    street = names[random.randint(0,length)] + ".st"
    city = cities[random.randint(0,lenCities)]
    club_owner = ownerIDs[random.randint(0,lenOwnerIDs)][0]
    query = "INSERT INTO arena2.club(name, street, city, club_owner) VALUES(%s, %s, %s, %s);"
    VALUES = (name, street, city, club_owner)
    mycursor.execute(query, VALUES)

## profit

In [ ]:
mycursor.execute("select id from arena2.club")
clubIDs = mycursor.fetchall()
lenClubIDs = len(clubIDs) - 1

dates = []

for i in range(hundred):
    if(i % 100000 == 0):
        print(i)
    clubId = clubIDs[hundred - i - 1][0]
    yyyy = random.randint(1900,2030)
    mm = random.randint(1,12)
    dd = random.randint(1,30)
    outcome = random.uniform(0,5000)
    income = random.uniform(0,5000)
    query = "INSERT INTO arena2.profit(clubId, yyyy, mm, dd, outcome, income) VALUES(%s, %s, %s, %s, %s, %s);"
    VALUES = (clubId, yyyy, mm, dd, outcome, income)
    mycursor.execute(query, VALUES)

## event

In [ ]:
for i in range(hundred):
    if(i % 100000 == 0):
        print(i)
    clubId = clubIDs[random.randint(0,lenClubIDs)][0]
    name = names[random.randint(0,length)]
    Syyyy = random.randint(2000,2010)
    Smm = random.randint(1,12)
    Sdd = random.randint(1,30)
    Shh = random.randint(1,23)
    Eyyyy = random.randint(2010,2020)
    Emm = random.randint(1,12)
    Edd = random.randint(1,30)
    Ehh = random.randint(1,23)
    noOfTeam = random.randint(5,10)
    noOfTeamMembers = random.randint(10,20)
    availablePlaces = random.randint(0,10)
    prize = random.randint(500,5000)
    pricePerTeam = random.randint(25,100)
    query = "INSERT INTO arena2.event(clubId, name, Syyyy, Smm, Sdd, Shh, Eyyyy, Emm, Edd, Ehh, noOfTeams, noOfTeamMembers, availablePlaces, prize, pricePerTeam) VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s);"
    VALUES = (clubId, name, Syyyy, Smm, Sdd, Shh, Eyyyy, Emm, Edd, Ehh, noOfTeam, noOfTeamMembers, availablePlaces, prize, pricePerTeam)
    mycursor.execute(query, VALUES)

## pitch

In [ ]:
capacities = [5, 7, 11]

for i in range(hundred):
    if(i % 100000 == 0):
        print(i)
    clubId = clubIDs[random.randint(0,lenClubIDs)][0]
    pitch_num = i
    capacity = capacities[random.randint(0,2)]
    price = random.uniform(25,100)
    tp = random.randint(0,2)
    query = "INSERT INTO arena2.pitch(clubId, pitch_num, capacity, price, type) VALUES(%s, %s, %s, %s, %s);"
    VALUES = (clubId, pitch_num, capacity, price, tp)
    mycursor.execute(query, VALUES)

## schedule

In [ ]:
mycursor.execute("select clubId,pitch_num from arena2.pitch")
pitchIDs = mycursor.fetchall()
lenPitchIDs = len(pitchIDs) - 1

dates.clear()
dates = []

for i in range(hundred):
    if(i % 100000 == 0):
        print(i)
    yyyy = random.randint(1900,2030)
    mm = random.randint(1,12)
    dd = random.randint(1,30)
    hh = random.randint(1,23)
    index = random.randint(0,lenPitchIDs)
    clubId = pitchIDs[hundred - i - 1][0]
    pitch_num = pitchIDs[hundred - i - 1][1]
    dates.append(tup)
    paid = random.randint(50,500)
    unpaid = 500 - paid
    playerUserName = names[random.randint(0,length)]
    query = "INSERT INTO arena2.schedule(yyyy, mm, dd, hh, paid, unpaid, clubId, pitch_num, playerUserName) VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s);"
    VALUES = (yyyy, mm, dd, hh, paid, unpaid, clubId, pitch_num, playerUserName)
    mycursor.execute(query, VALUES)

## participate

In [ ]:
mycursor.execute("select eventId,clubId from arena2.event")
eventIDs = mycursor.fetchall()
lenEventIDs = len(eventIDs) - 1

for i in range(hundred):
    if(i % 100000 == 0):
        print(i)
    playerUserName = names[random.randint(0,length)]
    index = random.randint(0,lenEventIDs)
    eventId = eventIDs[index][0]
    clubId = eventIDs[index][1]
    query = "INSERT INTO arena2.participate(playerUserName, eventId, clubId) VALUES(%s, %s, %s);"
    VALUES = (playerUserName, eventId, clubId)
    mycursor.execute(query, VALUES)

In [ ]:
mydb.commit()

In [ ]:
mycursor.execute("select eventId,clubId from arena2.event")
eventIDs = mycursor.fetchall()
print(eventIDs[0])